*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

@font-face {font-family: BasierSquare-Regular; src: url("../fonts/Basier_Square/BasierSquare-Regular.otf");}
@font-face {font-family: BasierSquare-Medium; src: url("../fonts/Basier_Square/BasierSquare-Medium.otf");}
@font-face {font-family: BasierSquare-Bold; src: url("../fonts/Basier_Square/BasierSquare-Bold.otf");}
@font-face {font-family: BasierSquareMono-Regular; src: url("../fonts/Basier_Square_Mono/BasierSquareMono-Regular.otf");}
@font-face {font-family: BasierSquareMono-Medium; src: url("../fonts/Basier_Square_Mono/BasierSquareMono-Medium.otf");}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1, h2, h3, h4, p, a, b  {padding: 0; margin: 0; font-weight: 400; letter-spacing: normal;}
li, ul {padding: 0; margin: 10px; list-style: none;}

h1          {font-size: 32px; font-family: 'BasierSquare-Medium', sans-serif; margin-bottom: 20px;}
h2          {font-size: 24px; font-family: 'BasierSquare-Medium', sans-serif; margin-bottom: 10px;}
h3          {font-size: 18px; font-family: 'BasierSquare-Medium', sans-serif;}
h4          {font-size: 16px; font-family: 'BasierSquare-Medium', sans-serif;}
p           {font-size: 14px; color: rgba(255, 255, 255, 0.6); margin-bottom: 10px;}
p.big       {font-size: 18px; }
strong 	    {font-family: 'BasierSquare-Medium', sans-serif; color: #23242D;}
a           {color: rgba(255, 255, 255, 1); text-decoration: none; outline: 0;}
p a         {text-decoration: underline; color: rgba(255, 255, 255, 1);}
p a:hover   {color: #23242D}
svg         {width: 24px;}


@media screen and (max-width: 680px){
    h1 { font-size: 24px; margin-bottom: 10px;}
    h2 {}
    h3 {}
    h4 { font-size: 15px;}
    p  {}
    p.big {font-size: 15px; }
}

h1.center, h2.center, h3.center, h4.center, p.center {text-align: center;}

body {
    font-family: 'BasierSquare-Regular', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
	color: #000;
    -webkit-font-smoothing: antialiased;
	top: 0;  
    left: 0;
    background: #fff;
}

html, body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

::-webkit-scrollbar { 
    display: none; 
}

* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ------------------------- All -------------------------------------------------- */

main {
    float: left;
    width: 100%;
    min-height: calc(100vh - 70px);
}

.section {
    float: left;
    width: 100%;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}

.wrap-wide {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}

.wrap-small {
    max-width: 880px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}

.wrap-text {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}

.sub-wrap {
    width: 50%;
    position: relative;
    float: left;
}

.stripe {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 1px;
    float: left;
}

.center {
    display: inline-block;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

@media screen and (max-width: 1220px){
   
}

@media screen and (max-width: 680px){
    .wrap {
        max-width: 1100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .wrap-wide {
        max-width: 1340px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .wrap-small {
        max-width: 760px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .wrap-text {
        max-width: 680px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

/* ------------------------- Buttons -------------------------------------------------- */

.btn {
    height: 40px;
    color: #000;
    display: inline-block;
    padding: 11px 18px 9px 18px;
    position: relative;
    line-height: 20px; 
    text-decoration: none; 
    background: rgba(255, 255, 255, 1);
    font-family: 'BasierSquare-Medium', sans-serif;
    border-radius: 10px;
}

.btn.dark {
    background: #000;
    color: rgba(255, 255, 255, 1);
}

.btn.color {
    background: #A58861;
    color: #fff;
}

.btn.hover:hover {
    cursor: pointer;
    background: #A58861;
    color: #FFF;
}

.btn.hover.color:hover {
    background: #927752;
}

/* ------------------------- GDPR - Cookies Accept -------------------------------------------------- */

#gdpr-box {
    position: fixed;
    right: 50%;
    transform: translate(50%, 0);
    right: 20px;
    transform: translate(0,0);
    bottom: -200px;
    background: #1f1f1f;
    z-index: 19;
    padding: 20px;
    border-radius: 20px;
    width: 370px;
    -webkit-box-shadow: 0px 0px 200px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 200px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 200px 0px rgba(0,0,0,1);
}

#gdpr-box.active {
    bottom: 20px;
    display: block;
}

.gdpr-text {
    float: left;
    line-height: 20px;
    width: calc(100% - 110px);
    font-size: 14px;
    padding: 0 0 0 5px;
    padding-left: 5px;
    color: rgba(255, 255, 255, .8);
}

.gdpr-text a {
    color: rgba(255, 255, 255, .8);
    text-decoration: underline;
}

.gdpr-text a:hover {
    color: #fff;
}

.gdpr-button {
    height: 40px;
    margin-top: 0px;
    padding-left: 20px;
    float: right;
}

#gdpr-box.notactive  {
    bottom: -200px;
}

#gdpr-box.notactive {
    -webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-ms-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;     
}

@media screen and (max-width: 440px){

    #gdpr-box {
        width: calc(100% - 30px);
        right: 15px;
        transform: 0;
    }

    #gdpr-box.active {
        bottom: 20px;
        display: block;
    }

    #gdpr-box.notactive  {
	    bottom: -200px;
	}
}

/* ------------------------- Header -------------------------------------------------- */

.default-header {
    text-align: center;
    padding-bottom: 0;
    padding-top: 170px;
}

.default-header.full-height {
    height: calc(100vh - 70px);
}

main#error .default-header .btn, main#default .default-header .btn {
	margin-top: 20px;
}

@media screen and (max-width: 680px){

    .default-header {
        padding-bottom: 0;
        padding-top: 150px;
    }
    
    .default-header .wrap-text {
        max-width: 720px;
        padding-left: 40px;
        padding-right: 40px;
    }

}

/* ------------------------- Overview - Search -------------------------------------------------- */


.overview-grid .wrap-text {
    max-width: 1200px;
}

.overview-grid #search {
    float: right;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    font-size: 32px;
    width: calc(100% - 44px);
    color: #000;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    margin: 0;
    padding: 0;
    height: 60px;
    line-height: 60px;
    margin-bottom: 50px;
}

.overview-grid #search::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.overview-grid #search:focus{
    color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.overview-grid .wrap-text svg {
     width: 32px;
     opacity: .5;
     position: absolute;
     left: 80px;
     top: 13px;
}

.overview-grid .wrap-text svg circle, .overview-grid .wrap-text svg line {
    stroke-width: 1.5px;
}   

.overview-grid #search:focus ~ svg {
    opacity: 1;
}

@media screen and (max-width: 760px){ 

    .overview-grid #search {
        font-size: 24px;
        width: calc(100% - 34px);
    }

    .overview-grid .wrap-text svg {
        width: 24px;
        top: 17px;
   }
   
   .overview-grid .wrap-text {
        max-width: 405px;
    }

}

@media screen and (max-width: 680px){ 
    .overview-grid .wrap-text svg {
        left: 20px;
    }

    .overview-grid .wrap-text {
        max-width: 285px;
    }
}

/* ------------------------- Overview - Grid -------------------------------------------------- */

.overview-grid .wrap {
    padding-left: 70px;
    padding-right: 70px;
}

@media screen and (max-width: 680px){ .overview-grid .wrap { padding-left: 10px; padding-right: 10px;}}

.overview-grid .list {
    width: 100%;
    float: left;
}

.overview-grid .list li {
    float: left;
    width: 16.666%;
    position: relative;
    border-radius: 20px;
}

.overview-grid .list li .icon {
    float: left;
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.overview-grid .list li .icon .overlay {
    border-radius: 20px;
}

.overview-grid .list li .icon:hover .overlay {
    border-radius: 20px;
    border: 2px solid #000;
}

.overview-grid .list li .icon:before {
    content:"";
    padding-top: 100%;
    display: block;
}

.overview-grid .list li .icon .title {
    color: #080808;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    height: 40px;    
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

.overview-grid .list li .icon:hover .title {
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
}

.overview-grid .list li .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    margin: 0;
}

.overview-grid .list li .icon:hover img {
    top: calc(50% - 10px);
}

.overview-grid .list li .icon .tags {
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

.overview-grid .list li .icon .download {
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
}

.overview-grid .list li .icon:hover .download {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
}

.overview-grid .list li .icon .download svg {
    transform: translate(0, -2px);
    width: 20px;
}

.overview-grid .list li .icon .new {
    top: 20px;
    left: 20px;
    position: absolute;
    height: 20px;
    padding: 4px 8px 2px 8px;
    line-height: 14px;
    font-size: 11px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    z-index: 11;
}

.overview-grid .list li .icon .pack-dot {
    top: 20px;
    right: 20px;
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    z-index: 11;
    background: #A58861;
}

.overview-grid .list li .icon .pack-btn {
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
}

.overview-grid .list li .icon:hover .pack-btn {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 680px){ 		.overview-grid .wrap { padding-left: 10px; padding-right: 10px;}}
@media screen and (max-width: 1220px){  	.overview-grid .list li {width: 20%;}}
@media screen and (max-width: 1040px){   	.overview-grid .list li {width: 25%;}}
@media screen and (max-width: 860px){   	.overview-grid .list li {width: 33.33%;}}
@media screen and (max-width: 540px){ 		.overview-grid .list li {width: 20%;}}

@media screen and (max-width: 540px){  
	
	.overview-grid {
		padding-top: 90px;
	} 
	
	.overview-grid #search {
		margin-bottom: 15px;
	}
    
    .overview-grid .list li {
        padding: 5px;
    }

    .overview-grid .list li .icon .title, 
    .overview-grid .list li .icon .download,
    .overview-grid .list li .icon .pack-btn,
    .overview-grid .list li .icon .new{
        display: none;
    }

    .overview-grid .list li .icon img, .overview-grid .list li .icon:hover img {
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .overview-grid .list li .icon .pack-dot {
        top: 15px;
        right: 15px;
    }

    .overview-grid .list li .icon .new {
        top: 10px;
        left: 10px;
        border-radius: 7px;
    }
    
}

/* ------------------------- Overview - Grid Small -------------------------------------------------- */

.overview-grid-small .list li .icon .title {
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

.overview-grid-small .list li {
    float: left;
    padding: 10px;
    width: 10%;
    position: relative;
}

.overview-grid-small .list li .icon {
    float: left;
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}


.overview-grid-small .list li .icon img  {
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 760px){ .changelog-list li {width: 14.28%;}}
@media screen and (max-width: 700px){ .changelog-list li {width: 16.66%;}}
@media screen and (max-width: 540px){ .changelog-list li {width: 20%;}}

/* ------------------------- Overview - Pagniation -------------------------------------------------- */
 
.pagination {
	float: left;
	width: 100%;
	padding-top: 30px;
	text-align: center;
}
 
.pagination li {
	display: inline-block;
	background: rgba(197, 197, 197, 0.4);
	width: 40px;
	height: 40px;
	border-radius: 10px;
	margin: 0 5px;	 
}
 
.pagination li a {
	float: left;
	width: 100%;
	height: 100%;
	line-height: 20px;
	text-align: center;
	padding: 10px 0;
}
 
.pagination li:hover {
	background: rgba(0, 0, 0, 0.2);
}

.pagination li.disabled:hover, .pagination li.disabled {
	background: rgba(0, 0, 0, 0.2);
	pointer-events: none;
}

.pagination li.active:hover, .pagination li.active {
	background: #000;
}


/* ------------------------- Overview - Not Found -------------------------------------------------- */

.not-found {
    float: left;
    width: calc(100% - 20px);
    margin-left: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.12);
    padding: 18px;
    border-radius: 20px;
}

.not-found .center {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.not-found .search-result {
    line-height: 20px;
    margin-top: 3px;
}

.not-found svg {
    margin-left: 10px;
    float: left;
    width: 24px;
}

@media screen and (max-width: 540px){ 
	.not-found {
		height: 60px;
		font-size: 12px
	}
}

/* ------------------------- Single Pack -------------------------------------------------- */

.pack-background {
    float: left;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pack-gradient-color {
    width: 50%;
    background: rgba(255, 255, 255, 0.3);
    height: 900px;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(23%, -24%);
    overflow: hidden;
}

.pack-background-img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    width: auto;
}

.pack-gradient-1 {
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pack-gradient-2 {
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 640px){ 
    
    .pack-gradient-color {
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        height: 400px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .pack-background-img {
        left: 50%;
        transform: translate(0%, -25%);
    }
    
}

/* ------------------------- Single Pack - Bar -------------------------------------------------- */

.single-pack-bar {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 70px;
}

.single-pack-bar svg {
    width: 36px;
    margin-top: 2px;
    float: left;
}

.single-pack-bar svg path, .single-pack-bar svg line, .single-pack-bar svg circle, .single-pack-bar svg polyline  {
    stroke: #000;
}

.single-pack-bar h4 {
    color: #000;
    float: left;
    line-height: 30px;
    margin-top: 5px;
    margin-left: 10px;
}

.single-pack-bar .price {
    float: right;
    height: 40px;
}

.single-pack-bar .price span {
    color: rgba(0, 0, 0, 0.6);
    float: left;
    line-height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.single-pack-bar .price .btn {
    padding-left: 15px;
    float: left;
}

@media screen and (max-width: 640px){  

    .single-pack-bar {
        margin-top: 40px;
    }

}

@media screen and (max-width: 540px){  
    
    .single-pack-bar h4 span, .single-pack-bar .price span {
        display: none;
    }
}


/* ------------------------- Single Pack - Grid -------------------------------------------------- */

.single-pack-grid {
    padding-top: 0;
}

.single-pack-grid .list li {
    width: 12.5%;
}

.single-pack-grid .list li .icon .title {
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
}

.single-pack-grid .list li .icon:hover .title {
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
}

.single-pack-grid .list li .icon:hover img, .single-pack-grid .list li .icon img  {
    top: 50%;
    transform: translate(-50%, -50%);
}

.single-pack-grid .list li .icon .overlay {
    opacity: .1;
}

.single-pack-grid .list li .icon:hover .overlay {
    opacity: .1;
}

.overview-grid .list li .icon .new {
    top: 15px;
    left: 15px;
}

@media screen and (max-width: 1220px){  .single-pack-grid .list li {width: 14.28%;}}
@media screen and (max-width: 1100px){  .single-pack-grid .list li {width: 16.666%;}}
@media screen and (max-width: 980px){   .single-pack-grid .list li {width: 20%;}}
@media screen and (max-width: 820px){   .single-pack-grid .list li {width: 25%;}}
@media screen and (max-width: 680px){   .single-pack-grid .list li {width: 33.33%;}}
@media screen and (max-width: 540px){ 	.single-pack-grid .list li {width: 20%;}}

/* ------------------------- Packs - Header -------------------------------------------------- */

.pack-header {
    padding-bottom: 70px;

}

.pack-grid {
    padding-top: 0;
    padding-bottom: 40px;
}

.pack-grid  .wrap {
    padding-left: 70px;
    padding-right: 70px;
}

@media screen and (max-width: 680px){ .pack-grid  .wrap { padding-left: 10px; padding-right: 10px;}}

.pack-grid .list {
    width: 100%;
    float: left;
}

.pack-grid .list li {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.pack-grid .list li .pack {
    float: left;
    width: 100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.pack-grid .list li .pack .overlay {
    background: #fff;
    opacity: .1;
    border-radius: 20px;
}

.pack-grid .list li .pack:hover .overlay {
    opacity: .2;
}

.pack-grid .list li .pack .inner {
    float: left;
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.pack-grid .list li .pack .inner:before {
    content:"";
    padding-top: 100%;
    display: block;
}

@media screen and (max-width: 580px){  

    .pack-header {
        padding-bottom: 40px;
    }

}

/* --- Titleblock --- */

.pack-grid .list li .pack .titleblock {
    float: left;
    padding: 10px;
    width: 33.333%;
}

.pack-grid .list li .pack .titleblock .overlay {
    opacity: 0;
}

.pack-grid .list li .pack .titleblock .inner {
    background: rgba(255, 255, 255, 0.1);
}

.pack-grid .list li .pack .titleblock .inner:before {
    padding-top: 65%;
}

.pack-grid .list li .pack .titleblock .big-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-20%, -27%);
    opacity: 0;
}

.pack-grid .list li .pack .titleblock .big-icon svg {
    width: 300px;
}


.pack-grid .list li .pack .titleblock h2 {
    position: absolute;
    top: 60px;
    left: 30px;
    z-index: 11;
}

.pack-grid .list li .pack .titleblock .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 15px;
    z-index: 11;
}

.pack-grid .list li .pack .titleblock .small-icon {
    position: absolute;
    bottom: 21px;
    left: 28px;
    z-index: 11;
}

.pack-grid .list li .pack .titleblock .small-icon svg {
    width: 30px;
}

.pack-grid .list li .pack .titleblock h4 {
    position: absolute;
    bottom: 30px;
    left: 70px;
    z-index: 11;
    font-size: 14px;
    font-family: 'BasierSquare-Regular', sans-serif;
}

.pack-grid .list li .pack .titleblock svg path, .pack-grid .list li .pack .titleblock svg line, .pack-grid .list li .pack .titleblock svg circle, .pack-grid .list li .pack .titleblock svg polyline, .pack-grid .list li .pack .titleblock svg rect  {
    stroke: #FFF;
}

.pack-grid .list li .pack .pack-gradient-color {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
}

.pack-grid .list li .pack .pack-gradient-color  .pack-background-img {
    height: 200%;
    transform: translate(0%,-50%);
    top: 0%;
    left: 25%;
    z-index: 12;
}

.pack-grid .list li .pack .pack-gradient-1, .pack-grid .list li .pack .pack-gradient-2 {
    opacity: .5;
}

.pack-grid .list li .pack:hover .titleblock .inner {
    background: rgba(255, 255, 255, 0.1);
}

.pack-grid .list li .pack:hover .pack-gradient-1, .pack-grid .list li .pack:hover .pack-gradient-2 {
    opacity: .55;
}

.pack-grid .list li .pack:hover .pack-gradient-color {
    background: rgba(255, 255, 255, 0.2);
}

.pack-grid .list li .pack:hover .pack-background-img {
    transform: translate(0%, -51%);
    opacity: 0;
}

.pack-grid .list li .pack:hover .titleblock .btn {
    background: #A58861;
}

.pack-grid .list li .pack:hover .titleblock h2 {
    top: 40px;
}

.pack-grid .list li .pack:hover .titleblock .big-icon {
    opacity: .1;
    transform: translate(-20%, -30%);
}

/* --- Iconblock --- */

.pack-grid .list li .pack .iconblock {
    float: left;
    width: 44.444%;
}

.pack-grid .list li .pack .iconblock .iconblock-single {
    float: left;
    padding: 10px;
    width: 25%;
}

.pack-grid .list li .pack .iconblock .iconblock-single img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/* --- Infoblock --- */

.pack-grid .list li .pack .infoblock {
    float: left;
    padding: 10px;
    width: 22.222%;
}

.pack-grid .list li .pack .infoblock ul {
    position: absolute;
    left: 26px;
    top: 30px;
    right: 30px;
}

.pack-grid .list li .pack .infoblock li {
    float: left;
    width: 100%;
    padding-left: 14px;
    margin-bottom: 10px;
    position: relative;
}

.pack-grid .list li .pack .infoblock li:before {
    position: absolute;
    left: 0;
    top: 6px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    content: "";
}

.pack-grid .list li .pack .infoblock li span {
    font-size: 10px;
    opacity: .7;
    transform: translate(2px,-5px);
    display: inline-block;
}

.pack-grid .list li .pack .infoblock .btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 11;
    text-align: center;
}


@media screen and (max-width: 1220px){  
    .pack-grid .list li .pack .titleblock{width: 37.5%;}
    .pack-grid .list li .pack .iconblock {width: 37.5%;}
    .pack-grid .list li .pack .iconblock .iconblock-single {width: 33.33%;}
    .pack-grid .list li .pack .iconblock .iconblock-single:nth-child(7) {display: none;}
    .pack-grid .list li .pack .iconblock .iconblock-single:nth-child(8) {display: none;}
    .pack-grid .list li .pack .infoblock {width: 25%;}
}

@media screen and (max-width: 1080px){  
    .pack-grid .list li .pack .titleblock {width: 42.85%;}
    .pack-grid .list li .pack .iconblock {width: 28.57%;}
    .pack-grid .list li .pack .iconblock .iconblock-single {width: 50%;}
    .pack-grid .list li .pack .iconblock .iconblock-single:nth-child(5) {display: none;}
    .pack-grid .list li .pack .iconblock .iconblock-single:nth-child(6) {display: none;}
    .pack-grid .list li .pack .infoblock {width: 28.57%;}
}

@media screen and (max-width: 960px){  
    .pack-grid .list li .pack .titleblock{width: 50%;}
    .pack-grid .list li .pack .iconblock {width: 16.66%;}
    .pack-grid .list li .pack .iconblock .iconblock-single {width: 100%;}
    .pack-grid .list li .pack .iconblock .iconblock-single:nth-child(3) {display: none;}
    .pack-grid .list li .pack .iconblock .iconblock-single:nth-child(4) {display: none;}
    .pack-grid .list li .pack .infoblock {width: 33.33%;}
}

@media screen and (max-width: 840px){  
    .pack-grid .list li .pack .titleblock{width: 60%;}
    .pack-grid .list li .pack .titleblock .inner:before {padding-top: 65%;}
    .pack-grid .list li .pack .iconblock {display: none;}
    .pack-grid .list li .pack .infoblock {width: 40%;}
}

@media screen and (max-width: 720px){  
	.pack-grid {padding-bottom: 0;}
    .pack-grid .list li .pack .titleblock .inner:before {padding-top: 75%;}
    .pack-grid .list li .pack .infoblock .inner:before {padding-top: 116%;}
}

@media screen and (max-width: 580px){  
    .pack-grid .list li .pack .titleblock {width: 100%;}
    .pack-grid .list li .pack .titleblock .inner:before {padding-top: 280px;}
    .pack-grid .list li .pack .infoblock {display: none;}
    .pack-grid .list li .pack .titleblock .btn {background: #A58861;}
    
    .pack-grid .list li .pack:hover .titleblock h2 {color: #FFF;}
    .pack-grid .list li .pack:hover .titleblock .btn {background: #000;}
    .pack-grid .list li .pack:hover .titleblock svg path, .pack-grid .list li .pack:hover .titleblock svg line, .pack-grid .list li .pack:hover .titleblock svg circle  {stroke: #FFF;}
    .pack-grid .list li .pack:hover .titleblock h4 {color: #FFF;}
    .pack-grid .list li .pack:hover .titleblock .big-icon {opacity: 0;}
    .pack-grid .list li .pack:hover .pack-background-img {transform: translate(0%, -50%); opacity: 1;}   

}

@media screen and (max-width: 440px){  
    .pack-grid .list li .pack .titleblock .inner:before {padding-top: 220px;}
}


/* ------------------------- Changelog - Grid -------------------------------------------------- */

.changelog-grid {
    padding-top: 0;
    padding-bottom: 20px;
}

.changelog-grid .wrap-small {
    padding-left: 70px;
    padding-right: 70px;
}

.changelog-grid .single-change{
    width: 100%;
    float: left;
    padding: 60px 0;
}

.changelog-grid .single-change:first-child{
    padding-top: 0;
}


@media screen and (max-width: 680px){ 

    .changelog-grid .wrap-small {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .changelog-grid .single-change {
	    padding-top: 0;
	    padding-bottom: 40px;
    }
}

/* ------------------------- Changelog - Title -------------------------------------------------- */

.changelog-grid .title {
    float: left;
    width: 100%;
    padding: 0 10px 30px 10px;
}

.changelog-grid h4 {
    float: left;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

.changelog-grid .date {
    float: right;
    font-size: 13px;
    line-height: 14px;
    padding: 5px;
    color: #A58861;
    text-transform: uppercase;
    font-family: 'BasierSquareMono-Medium', sans-serif;
}

.changelog-grid .creator-img {
    float: right;
    margin-left: 5px;
}

.changelog-grid .stripe {
    display: none;
}

.changelog-grid .wrap-small .stripe {
    display: block;
}

.changelog-grid .stripe:last-child{
    display: none;
}

@media screen and (max-width: 1200px){ 

    .changelog-grid h4 {
        font-size: 16px;
    }

}

@media screen and (max-width: 580px){ 

    .changelog-grid .stripe {
        display: block;
        margin-bottom: 40px;
    }

    .changelog-grid .title {
        text-align: center;
    }

    .changelog-grid h4 {
        width: 100%;
        margin-bottom: 2px;
        font-size: 15px;
    }

    .changelog-grid .date {
        float: none;
        display: inline-block;
        padding-left: 5px;
    }

    .changelog-grid .creator-img {
        float: none;
        display: inline-block;
        transform: translate(0, 6px);
        width: 20px;
        height: 20px;
        margin-left: 0;
    }
}

/* ------------------------- Changelog - Image -------------------------------------------------- */

.changelog-image {
    float: left;
    width: 100%;
    padding: 0 5px;
    margin-bottom: 15px;
}

.changelog-image img {
    float: left;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.changelog-image:last-child {
    margin-bottom: 0;
}

/* ------------------------- Changelog - Icon List -------------------------------------------------- */

.changelog-list {
    width: 100%;
    float: left;
}

.changelog-list li {
    float: left;
    padding: 5px;
    width: 12.5%;
    position: relative;
}

.changelog-list li .icon {
    float: left;
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.changelog-list li .icon .overlay {
    background: #fff;
    opacity: .1;
    border-radius: 20px;
}

.changelog-list li .icon:before {
    content:"";
    padding-top: 100%;
    display: block;
}

.changelog-list li .icon img  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    opacity: .9;
}

@media screen and (max-width: 760px){ .changelog-list li {width: 14.28%;}}
@media screen and (max-width: 700px){ .changelog-list li {width: 16.66%;}}
@media screen and (max-width: 540px){ .changelog-list li {width: 20%;}}

/* ------------------------- Social Link -------------------------------------------------- */

.social-icon {
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
}

.social-icon svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
}

.social-icon svg path, .social-icon svg circle{
    fill: rgba(255, 255, 255, 1);
}

.social-icon:hover svg{
    opacity: 1;
}

/* ------------------------- Prefooter -------------------------------------------------- */

.prefooter {
	text-align: center;
}

.prefooter a {
	color: rgba(255, 255, 255, 0.6);
	font-size: 18px;
}

.prefooter a:hover {
	color: #A58861;
}

/* ------------------------- Footer -------------------------------------------------- */

footer.section {
    padding-top: 25px;
    padding: 25px;
    height: 70px;
    overflow: hidden;
    position: relative;
}

footer .wrap {
    text-align: center;
}

footer .wrap p {
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
}

footer .wrap p:last-child {
    margin-right: 0px;
}

footer a {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

footer a:hover {
    color:#A58861;
}

footer .social-icon {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
}

footer .footer-link-left {
    position: absolute;
    z-index: 2;
    left: 25px;
    top: 20px;
    height: 30px;
}

footer .footer-link-left a {
    display: inline-block;
    line-height: 30px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.6);
}

footer .footer-link-left a:last-child {
    margin-right: 0px;
}

footer .footer-link-left a:hover {
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 720px){
    
    footer.section {
        padding-top: 120px;
        height: 180px;
    } 

    footer .footer-link-left {
        left: 0;
        width: 100%;
        top: 30px;
        text-align: center;
    }

    footer .social-icon {
        right: 50%;
        transform: translate(50%, 0);
        top: 70px;
    }
    
}


/* ------------------------- Textpage -------------------------------------------------- */

.textpage h3 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.textpage h3:first-child {
    margin-top: 0px;
}

.textpage p {
    font-size: 15px;
    line-height: 24px;
    margin-block-end: 18px;
}

.textpage a:hover {
    color: #A58861;
}



/* ------------------------- Animations -------------------------------------------------- */

.btn, .overlay, .overview-grid a, .overview-grid img, .overview-grid .title, .overview-grid svg, .overview-grid #search, .social-icon svg, footer a, .prefooter a  {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;  
}

.inner, .inner h2, .inner .btn, .inner svg line, .inner svg circle, .inner svg path, .inner h4, .big-icon, .pack-gradient-1, .pack-gradient-2, .pack-gradient-color, .pack-background-img  {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;  
}




















